/* font */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&family=Noto+Sans+KR&family=Roboto:wght@700&display=swap');

/* init */
*{margin: 0;padding: 0;box-sizing: border-box;color: #333333;font-family: '나눔스퀘어';}
ul, li {list-style: none;}
a{text-decoration: none;color: inherit;}


/* re */
.po-ab {position: absolute;}
.po-re {position: relative;}
.dis-flex {display: flex;}
.hidden {display: none;}
.block {display: block;}
.opa-0 {opacity: 0;}
.opa-1 {opacity: 1;}
.trans-scale-2 {transform: scale(1.1);}
.trans-scale-1 {transform: scale(1);}

section {
    transition: 1500ms;
    margin-top: 10vh;
    opacity: 0;
}

#marbling-imgbox div {
    transition: 600ms;
}

.shop-now {
    transition: 500ms;
}

.plateTxt {
    transition: 500ms;
}

#brand img {
    transition: 800ms;
}

/* #items>div {
    transition: 1500ms;
} */

.item {
    opacity: 0;
    margin-top: 10vh;
    transition: 1500ms;
}
.itemRe {
    opacity: 1;
    margin-top: 0vh;
    transition: 1500ms;
}

/* layout */
/* header */
header {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    padding-top: 22vh;
}

#main {
    width: 24vw;
    height: 40vh;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.black-shelf {
    width: inherit;
    height: 0.5vh;
    background-color: black;
}

.black-shelf:first-child {
   top: 10vh;
}

.black-shelf:nth-child(2) {
    top: 30vh;
    z-index: 1;
}

#main img {
    position: absolute;
}

/* plate 위치 잡기 */
#col1 {
    top: 3.2vh;
    left: 4.5vw;
}

#col2 {
    top: 3.2vh;
    left: 2.5vw;
}

#island1 {
    top: 1.5vh;
    right: 1.8vw;
}

#island2 {
    top: 1.5vh;
    right: 3.8vw;
}

#kids1 {
    bottom: 9.5vh;
    left: 1vw;
}

#kids2 {
    bottom: 9.5vh;
    left: 2.5vw;
}

#kids3 {
    bottom: 9.5vh;
    left: 4vw;
}


#marbling {
    bottom: 9.5vh;
    right: 8vw;
}

#classic {
    bottom: 9.5vh;
    right: 1vw;
    
}

/* hanmade & logo */
#handmade {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}

#logo {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

/* shop-now */
.shop-now {
    width: 5vw;
    height: 3vh;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    line-height: 3vh;
}

.shop-now a {
    display: block;
    font-size: 0.9em;
    font-weight: bold;
}

#shop1 {
    top: 5vh;
    left: 2.8vw;
}

#shop2 {
    top: 5vh;
    right: 2.7vw;
}

#shop3 {
    top: 24.5vh;
    left: 2.4vw;
}

#shop4 {
    top: 24.5vh;
    right: 7.7vw;
}

#shop5 {
    top: 24.5vh;
    right: 0.9vw;
}

/* plateTxt */
.plateTxt {
    width: 35vw;
    height: 35vh;
    /* border: 1px solid red; */
}

.lineBox {
    width: 28vw;
    height: 25vh;
    border: 0.2px solid rgb(129, 129, 129);
    top: 5vh;
    left: 2vw;
    padding-top: 10vh;
    padding-left: 2vw;
}

.plateTxt h3 {
    font-size: 1.5em;
    top:8vh;
}

.plateTxt span {
    font-family: 'Montagu Slab', serif;
}
.plateTxt h3 span:nth-child(1) {
    transform: rotate(-180deg);
}

.plateTxt p {
    font-size: 0.9em;
    line-height: 1.7em;
}

/* collorama */
#colTxt {
    top: 10vh;
    left: 3vw;
}

.col-img {
    top: 8.5vh;
    right: 1vw;
}
/* kids and family */
#kidTxt {
    top: 30vh;
    left: 3vw;
}

.kid-img {
    top: 7.5vh;
    right: 1vw;
}

/* new marble */
#marTxt {
    top: 50vh;
    left: 34vw;
}

.mar-img {
    top: 8.5vh;
    right: 0.5vw;
}

/* island breeze */
#islTxt {
    top: 10vh;
    right: 2vw;
}

.isl-img {
    top: 6.8vh;
    right: 1vw;
}

/* classic marble */
#claTxt {
    top: 30vh;
    right: 2vw;
}

.cla-img {
    top: 10vh;
    right: 1vw;
}
/* brand */
#brand {
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    text-align: center;
    line-height: 1.7em;
    padding-top: 10vh;
}

#brand p:nth-child(1) {
    /* margin-top: 10vh; */
    font-size: 0.9em;
}

#brand p:nth-child(2) {
    /* margin-top: 65vh; */
    font-size: 0.9em;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-85%);
}

#brand p:nth-child(3) {
    top: 95%;
    left: 50%;
    transform: translate(-50%,-95%);
    /* margin-top: 7vh; */
    font-size: 0.9em;
    font-weight: bold;
}

#pot1 {
    top: 24vh;
    left: 35vw;
}

#pot2 {
    top: 60vh;
    right: 37vw;
}

#ceo {
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%);
}
#brand span {
    font-size: 1.5em;
}

#ceo1 {
    writing-mode: vertical-rl;
    top: 57vh;
    left: 40vw;
    transform: rotate(180deg);
}

#ceo2 {
    writing-mode: vertical-rl;
    top: 24vh;
    right: 40.1vw;
}


/* anamelware */
#anamelware {
    width: 100vw;
    height: 95vh;
    /* border: 1px solid red; */
}

#anamelware-txt {
    width: 50vw;
    height: 60vh;
    top: 15vh;
    left: 20vh;
    /* border: 1px solid red; */
}

#anamelware-txt h4{
    font-size: 2em;
    font-weight: lighter;
    margin-top: 7vh;
    margin-left: 5vw;
}

#anamelware-txt h4 span {
    font-weight: 500;
}

#anamelware-txt h5 {
    font-size: 1.2em;
    font-weight: normal;
    text-indent: 7vw;
}

#anamelware-txt p {
    font-size: 0.9em;
    line-height: 1.7em;
    text-indent: 7vw;
}

#circle {
    top: 3.5vh;
    left: 2.5vw;
}

#anamelware img {
    position: absolute;
}

#anamelware #anamelware-imgbox {
    width: 30vw;
    height: 75vh;
    /* border: 1px solid red; */
    top: 20vh;
    right: 13vw;
}

#anamelware-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

#sticker1 {
    top: 5vh;
    left: 2vw;
}

#sticker2 {
    bottom: 3.8vh;
    right: 2.7vw;
}

/* marbling-des */
#marbling-des {
    width: 100vw;
    height: 85vh;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 15vh;
}

#marbling-des p {
    font-size: 0.9em;
    line-height: 1.7em;
}

#marbling-des h4 {
    margin-top: 3vw;
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 10vh;
}

#marbling-imgbox {
    width: 100vw;
    height: 25vh;
    /* background-color: lightslategray; */
}

#marbling-imgbox div{
    width: 20vw;
    height: inherit;
    overflow: hidden;
    /* border: 1px solid red; */
}
#marbling-imgbox div img {
    width: 100%;
    transition: 0.5s;
}

#marbling-imgbox div img:hover {
    transform: scale(1.1);
}

/* items */
#items {
    width: 70vw;
    height: 100vh;
    /* border: 1px solid red; */
    margin: 0 auto; 
}

#items #best-item {
    width: inherit;
    height: 50vh;
    /* border: 1px solid red; */
}

#items #new-item {
    width: inherit;
    height: 50vh;
    /* border: 1px solid red; */
}

#items #best-item-box {
    width: 50vw;
    height: 40vh;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    right: 0;
    bottom: 0;
}

.item-direct {
    font-size: 1.5em;
}

#items #best-item>a {
    top: 22vh;
    left: 3vw;
}

#circle1 {
    left: 3.4vw;
    top: 18.2vh;
}

#items #new-item-box {
    width: 50vw;
    height: 40vh;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    bottom: 0;
}

#items #new-item a {
    top: 22vh;
    right: 3vw;
}

#circle2 {
    right: 3.4vw;
    top: 18.2vh;
}

#items>div>div>div {
    width: 15vw;
    height: 40vh;
    /* border: 1px solid red; */
} 

#items .item-img-box {
    text-align: center;
}

.itemImg {
    width: inherit;
    height: 25vh;
}

.itemTxt {
    width: inherit;
    height: 10vh;
    /* border: 1px solid red; */
    bottom: 0;
    font-size: 0.9em;
}

.itemTxt h5 {
    margin-bottom: 3vh;
}

.itemTxt span {
    color: #999;
}

.itemTxt p {
    margin-top: 1vh;
}


/* notice */
#notice {
    width: 100vw;
    height: 70vh;
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 30vh;
}

#notice h5 {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 8vh;
}

#notice a {
    font-size: 0.9em;
    text-decoration: underline;
}
#notice a:hover {
    color: rgb(197, 197, 197);
}

#notice p {
    font-size: 0.8em;
    margin-top: 5vh;
    line-height: 1.7em;
}

#icon {
    margin-bottom: 5vh;
}

#icon img {
    width: 4vw;
    margin-right: 0.5vw;
}


/* footer */
footer {
    width: 80vw;
    height: 70vh;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding-top: 5vh;
}

footer #information {
    width: inherit;
    height: 40;
    padding-top: 10vh;
    justify-content: space-around;
}

footer #line {
    width: inherit;
    height: 0.1vh;
    background-color: rgb(182, 182, 182);
}

footer p {
    margin-bottom: 3vh;
}

footer a:hover {
    color: rgb(197, 197, 197);
}

footer a {
    display: block;
    line-height: 2.5em;
}

footer input {
    width: 25vh;
    height: 4vh;
    margin-top: 2vh;
    padding: 1vh;
}

#subscribe {
    width: 13vh;
    height: 5vh;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 2vh;
}

#subscribe a {
    display: block;
    line-height: 5vh;
}

#copyright {
    top: 90%;
    left: 50%;
    transform: translate(-50%,-90%);
}